body {
	background:url('../img/Woman on Pool Table by Cleyton Ewerton.jpg');
	background-size:100%;
	background-repeat:no-repeat;
	background-attachment:scroll; /* scroll/fixed*/
	background-position:center 0px;
	color: white;
}

/*h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/

img {
	max-width: 150px;
	height: 100%;
}