h3 {
	display: none;
}

.pls {
	display: none;
}

button {
  background-color: silver; /* Green */
  border: none;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button:hover {
	cursor: pointer;
}